body{
    /* display: flex; */
    background-color: aquamarine;
}

#title{
    background-color: aquamarine;
    text-align: center;
    width: 100%;
    margin: auto;
}

#describe{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
    background-color:white;
    padding: 15px;
}

#survey-form{
    text-align: center;
}

.row-tab{
    display: block;
    padding-bottom: 20px;
}

.label-tab{
    display: inline-block;
    width: 44%;
    text-align: right;
    vertical-align: top;
}

.input-tab{
    display: inline-block;
    width: 54%;
    text-align: left;
}
.select-tab{
    display: inline-block;
    width: 54%;
    text-align: left;
}
.select{
    padding: 5px 0;
}

